/* Keyframes */
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* body styling */
body {
  background: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1em;
  color: white;
}

.background-image {
    background-size: 100% 100%;
    display: block;
    z-index: -1;
    right: 0;
    left: 0;
    position: fixed;
    filter: blur(7.5px);
    -webkit-filter: blur(7.5px);
    width: 100%;
    height: 100%;
    opacity: 0%;
}

.input {
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25)
}

.videoTitle {
  position: absolute;
  padding-top: 2%;
  width: 100%;
  text-align: center;
}

.fadeIn {
  animation: fadeInAnimation 1.75s;
}

#videoDiv {
  margin: 0 auto;
  background: rgba(100, 100, 100, 0.75);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  transform: translateY(50%);
}

#videoInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(50%);
}

#videoInfoText {
  padding: 2.5% 0%;
  font-size: 180%;
  text-align: left;
  margin: auto;
}

#downloadInfo {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
